# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env

# Airflow
logs/
airflow.db

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Temporary files
*.tmp
*.log